<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reaktime Chat Room</title>
	<link rel="stylesheet" href="style.css">
	<link rel="shortcut icon" href="includes/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
		integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
		crossorigin="anonymous" />
</head>

<body>
	<nav>
		<h1>Realtime Chat Room</h1>
	</nav>
	<div class="container"></div>
	<div class="send">
		<form id="myForm">
			<input type="text" name="msgInput" id="msgInput" class="msgIp" required>
			<div id="sendlogo">
				<i class="sendFA fas fa-paper-plane"></i>
			</div>
		</form>
	</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="client.js"></script>

</html>